<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rendering this Page</title>
</head>

<body>
  <h1>
    <!-- Runs code on server, then displays as HTML -->
    2 + 2 is, in fact, <%= 2 + 2 %>
  </h1>

  <h2>
    Hello <%= text %>
  </h2>

  <h3>
    <!-- `locals` object is always defined, even if `elephant` var isn't -->
    Hello <%= locals.elephant || 'Default' %>
  </h3>

</body>

</html>