/* 11x */
body {
  font-family: Arial;
}

.todo-input-grid,
.todo-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}

.todo-input-grid {
  /* Ensures 'Add' button stretches while todo text is centered (ln 9) */
  align-items: stretch;
  margin-bottom: 10px;
}

.name-input,
.due-date-input {
  font-size: 15px;
  padding: 6px;
}

.add-btn,
.delete-btn {
  font-size: 15px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.add-btn {
  background-color: green;
}

.delete-btn {
  background-color: darkred;
  padding: 10px;
}
