.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

/* Only applies when viewport width <= 750px */
@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Only applies when 751px <= viewport width <= 999px */
@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Only applies when viewport width >= 1000px */
@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* 17a */
  .video-title {
    line-height: 24px;
    font-size: 16px;
  }
}

.thumbnail-row {
  position: relative;
  margin-bottom: 8px;
}

.thumbnail {
  width: 100%;
  /* height adjusts too to maintain same height-width ratio */
}

.video-time {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  right: 4px;
  bottom: 11px;
  background-color: black;
  color: white;
  /* Shorthand that applies 4px to all 4 sides; DON'T DO `padding: 4px 4px 4px 4px` */
  /* E.g., `padding: 4px 10px` would apply 4px to top and bottom, 10px to right and left */
  padding: 4px;
  border-radius: 2px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 35px 1fr;
  column-gap: 15px;
}

/* 16d */ 
.pfp-wrapper {
  display: inline-block;
  position: relative;
}

.pfp {
  width: 36px;
  border-radius: 50px;
}

/* 16d */ 
.channel-tooltip {
  display: flex;
  align-items: center;
  width: 200px;
  position: absolute;
  top: 45px;
  z-index: 100;
  line-height: 20px;
  /* Don't forget to set background; it's transparent without it lol */
  background-color: white;
  opacity: 0;
  padding: 10px 10px 10px 10px;
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  transition: opacity 0.15s;
  pointer-events: none;
}

/* 16d */ 
.pfp-wrapper:hover .channel-tooltip {
  opacity: 1;
}

/* 16d */ 
.tooltip-pfp {
  width: 50px;
  border-radius: 25px;
  margin-right: 10px;
}

/* 16d */ 
.tooltip-sub-count {
  font-size: 13px;
  color: rgb(58, 57, 57);
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

/* Targeting both classes */
.video-author,
.video-stats {
  font-size: 13px;
  color: #606060;
}

.video-author {
  margin-bottom: 4px;
}
